<div class="file_frame">

    <div class="left_text">
        <k>xxx</k>
    </div>
    <div class="right_file">
        <img  src="/static/images/file_icon/c.png" />
    </div>
    <div class="middle_text">
        <div id="progress" class="progress" style="width:115px;height: 10px;margin-bottom: 0;">
            <div class="progress-bar " role="progressbar" style="width:0;background: #0a628f;"></div>
        </div>
    </div>


    <div class="line">

    </div>
    <div class="bottom_text">
        <k>易聊电脑版</k>
    </div>
</div>
